<!-- <div class="text-white"> -->
    <!-- {{ top_anime.length }} -->
    <div class="transition-all group relative text-white border bg-gray-100 flex flex-col h-auto rounded-md cursor-pointer">
        <div class="z-0 flex w-full items-center justify-center h-full rounded-md">
          <img :src="top_anime.images.jpg.image_url" alt="topImage" class="object-contian w-96 h-full rounded-md">
        </div>
        <div class="absolute bottom-0 p-2 z-10 h-1/5 group-hover:h-full group-hover:rounded-t-md text-ellipsis overflow-hidden bg-gray-700 bg-opacity-95 duration-500 w-full ease-in-out rounded-b-md">
         <p class="line-clamp-2 group-hover:line-clamp-none text-xl">{{ top_anime.title }}</p>
          <div class="invisible group-hover:visible opacity-0 group-hover:opacity-100 group-hover:transition-all duration-500 ease-in-out my-2">
            <p class=" text-sm font-light pb-1"  v-if="top_anime.airing"> <small class="text-xs text-emerald-300"> {{ top_anime.status }} </small></p>
            <p class=" text-sm font-light pb-1"> {{ top_anime.episodes }} episode(s)</p>
            <p class=" text-sm font-light pb-1"> {{ top_anime.duration }} </p>
            <p class=" text-sm font-light pb-1"> {{ top_anime.rating }} </p>
            <p class="text-sm font-light pb-1">{{ top_anime.aired.string }}</p>
            <button class="my-3 btn-emerald-light bottom-0 absolute">Detail</button>
          </div>
        </div>
    </div>
<!-- </div> -->