<nav class="bg-teal-500 bg-opacity-70 sticky top-0 z-50">
    <div class="container mx-auto flex justify-between px-1">
        <div class="px-1 py-2">
            <h1 class="">Learn Nuxt</h1>
        </div>
        <div class="flex items-center justify-around w-3/5">
            <div class="flex w-2/3 justify-around">
                <div class="px-5 flex items-center">
                    <p class="">
                        Home
                    </p>
                </div>
                <div class="px-5 py-4 flex items-center font-semibold text-white border-b-2">
                    <p class="">
                        About
                    </p>
                </div>
                <div class="px-5 flex items-center">
                    <p class="">
                        Who am I ?
                    </p>
                </div>
            </div>
        </div>
        <SearchBox v-model="search_data" @input="test" @pressEnter="test" @btnClicked="test" />
    </div>
</nav>