<nav class="bg-emerald-500 bg-opacity-70 sticky top-0 z-50 py-1">
    <div class="container mx-auto flex justify-between ">
        <div class="">
            <h1 class="">Learn Nuxt</h1>
        </div>
        <div class="flex items-center justify-around w-3/5">
            <div class="flex w-2/3 justify-around">
                <div class="p-3">
                    Home
                </div>
                <div class="p-3">
                    About
                </div>
                <div class="p-3">
                    Who am I?
                </div>
                <div class="p-3">
                    Reference
                </div>
            </div>
        </div>
        <div class="flex items-center bg-red-500">
            <input class="border p-1 rounded w-full" type="text" name="" id="">
             <button class="p-2 border"><font-awesome-icon :icon="['fas', 'search']" /></button>
            <!-- <button><i class="fas fa-search"></i></button> -->
        </div>
    </div>
</nav>