<div>
    <Loading v-if="$fetchState.pending" />
    <div class="container mx-auto mt-2" v-else>
        <div class="md:p-2">
            <h2 class="heading">Currently Airing</h2>
            <div class="content">
                <Card v-for='airing_anime in currently_airing_animes' :key="airing_anime.mal_id">
                    <template #background_image>
                        <img :src="airing_anime.images.jpg.image_url" alt="topImage" class="object-contian w-96 h-full rounded-md">
                    </template>
                    <template #title>
                        <p class="line-clamp-1 group-hover:line-clamp-none text-lg sm:text-xl">{{ airing_anime.title }}</p>
                    </template>
                    <template #hover_content>
                        <p class=" text-sm font-light pb-1"  v-if="airing_anime.airing"> <small class="text-xs text-emerald-300"> {{ airing_anime.status }} </small></p>
                        <p class=" text-sm font-light pb-1"> {{ airing_anime.episodes }} episode(s)</p>
                        <p class=" text-sm font-light pb-1"> {{ airing_anime.duration }} </p>
                        <p class=" text-sm font-light pb-1"> {{ airing_anime.rating }} </p>
                        <p class="text-sm font-light pb-1">{{ airing_anime.airing ? getDate(airing_anime.aired.from) : airing_anime.aired.string }}</p>
                        <nuxt-link :to="{name: 'id-detail', params: {id: airing_anime.mal_id}}" class="my-3 btn-emerald-light bottom-0 absolute">Detail</nuxt-link>
                    </template>
                </Card>
            </div>
            <div class="footer">
                <button class="my-3 btn-emerald-light text-slate-600 py-2">See more...</button>
            </div>
        </div>
        <div class="md:p-2">
            <h2 class="heading">Top Anime</h2>
            <div class="content">
                <Card v-for='top_anime in top_animes' :key="top_anime.mal_id">
                    <template #background_image>
                        <img :src="top_anime.images.jpg.image_url" alt="topImage" class="object-contian w-96 h-full rounded-md">
                    </template>
                    <template #title>
                        <p class="line-clamp-1 group-hover:line-clamp-none text-lg sm:text-xl">{{ top_anime.title }}</p>
                    </template>
                    <template #hover_content>
                        <p class=" text-sm font-light pb-1"  v-if="top_anime.airing"> <small class="text-xs text-emerald-300"> {{ top_anime.status }} </small></p>
                        <p class=" text-sm font-light pb-1"> {{ top_anime.episodes }} episode(s)</p>
                        <p class=" text-sm font-light pb-1"> {{ top_anime.duration }} </p>
                        <p class=" text-sm font-light pb-1"> {{ top_anime.rating }} </p>
                        <p class="text-sm font-light pb-1">{{ top_anime.airing ? getDate(top_anime.aired.from) : top_anime.aired.string }}</p>
                        <nuxt-link :to="{name: 'id-detail', params: {id: top_anime.mal_id}}" class="my-3 btn-emerald-light bottom-0 absolute">Detail</nuxt-link>
                    </template>
                </Card>
            </div>
            <div class="footer">
                <nuxt-link class="my-3 btn-emerald-light text-slate-600 py-2" :to="{name: 'topanime'}">See more...</nuxt-link>
            </div>
        </div>
    </div>
</div>